[submodule "Yolov7_StrongSORT_OSNet"]
	path = Yolov7_StrongSORT_OSNet
	url = https://github.com/mikel-brostrom/Yolov7_StrongSORT_OSNet.git

[submodule "Yolov7_StrongSORT_OSNet/strong_sort/deep/reid"]
	path = Yolov7_StrongSORT_OSNet/strong_sort/deep/reid
	url = https://github.com/KaiyangZhou/deep-person-reid.git

[submodule "Yolov7_StrongSORT_OSNet/yolov7"]
	path = Yolov7_StrongSORT_OSNet/yolov7
	url = https://github.com/mikel-brostrom/yolov7.git
